* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#first {
  padding-top: 14%;
  margin-bottom: 9%;
}
#heading{
  background-image: url('../backgrounds/h_img.jpg');
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h6{
    text-align: center;
}
}
#aboutus{
      margin-top: 50px;
      margin-bottom: 50px;
  }
  .resize {
      font-size: cal(1vh + 1vw + .5vmin);
  }
  #aboutus,
  #service,
  #pple,
  .specific,
  #contact,
  .footer p {
      font-family:Verdana, Tahoma, sans-serif;
  }
h3{
    text-align: center;
}
  #service {
    background-image: url('../backgrounds/s_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    margin-bottom: 50px;
    background-position: center;
    padding-top: 120px;
    padding-bottom: 80px;
}
.form-cont input {
  width: 49%;
  background: transparent;
}
.form-cont textarea {
  margin-top: 10px;
  width: 100%;
  background: transparent;
}
#contact {
  color: #fff;
  padding-top: 100px;
  margin-bottom: 50px;
  background-image: url('../backgrounds/c_image.jpg');
  background-size: cover;
  background-position: cover;
  width: 100%;
  max-width: 100%;
  margin-top: 10%;
}

{
  box-sizing: border-box;
}
::placeholder,
.con {
    color: #fff;
}
::placeholder{
    font-size: 20px;
}
    body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
  }
  
.ptag {
  padding: 5% 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.301);
  padding: 50px 10px;
  font-weight: 100%;
  padding-top: 30px;
  border: 4px solid whitesmoke;
  font-size: 1.1em;
  line-height: 90%;
  margin: 20% 5%;
  overflow: hidden;
  letter-spacing: 2px;
  font-family: 'Merienda', cursive;
}
.card {
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}
.card:hover img {
  transform: scale(1.2);
  transition: all 0.3s ease;
}
  .fa {
    padding: 30px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 60%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  
  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }
  
  .fa-tumblr {
    background: #2c4762;
    color: white;
  }
  
  
  .fa-stumbleupon {
    background: #eb4924;
    color: white;
  }
  
  .fa-flickr {
    background: #f40083;
    color: white;
  }
 
  .image {
    display: block;
    width: 70%;
    height: auto;
  }
  .hide{
    display:show;
  }
  .clickable {
    cursor: pointer;
  }

  .clickable:hover {
    text-decoration: none;
  }


